body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(238, 107, 107);
    background-color: rgb(241, 241, 151);
    text-align: center;
}
h4{
    background-color: black;
    color: white;
}
.stuffedpeppers{
    background-color: red;
}
.smores {
    background-color: white;
}
.nikujaga {
    background-color: brown;
}